<!DOCTYPE html>
<html lang="pl">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Description" content="Salesforce, SFDC, oprogramowanie, dla firm, CRM, ekspert, Sales, chmura, salesforce.com">
    <meta name="author" content="Stefan Abramiuk Sempre Esperto">
    <meta name="keywords" content="Salesforce, CRM, SFDC, Salesforce.com, Force.com, Force, salesforce, salesforce.com, force.com, heroku, sfdc, crm, apex, sales cloud, service cloud, marketing">
    <meta name="google-site-verification" content="hKsxCh5-aU2ON6latLC3D_RdhkB5ALLHmJwVzj3md3c" />

    <title>Sempre Esperto - Po prostu genialne - Specjalista Salesforce dla Ciebie</title>

    <link rel="icon" href="/img/logo_ver1.png">


    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/stylish-portfolio.css" rel="stylesheet">
    <link href="css/dark-floating.css" rel="stylesheet">
    <link href="css/social-icons.css" rel="stylesheet">
    <link href="css/videoOverlay.css" rel="stylesheet">


    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
<style>

</style>
</head>

<body ng-app="homepage" ng-controller="HomePageController as ctrl">
    <div id="overlay" class="animateShow loadingOverlay" ng-hide="loaded">
         <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 col-md-offset-3 col-lg-offset-3 v100h">
                        <div class="main-text-vertical-center">
                            <img src="img/logo2Full.png" height="100px" />
                            <br>
                            <img id="loading" src="img/loading4.gif">

                        </div>
                    </div>
                </div>
            </div>
    </div>
    <div ng-show="loaded">

         <!-- Navigation -->
        <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
        <nav id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
                <li class="sidebar-brand">
                    <a href="#top"  onclick = $("#menu-close").click(); >{{ labels.DISCOVER }} </a>
                </li>
                <li>
                    <a href="#top" onclick = $("#menu-close").click(); >{{ labels.HOME }}</a>
                </li>
                <li>
                    <a href="#sfdc" onclick = $("#menu-close").click(); >{{ labels.WHAT_WE_DO }}</a>
                </li>
                <li>
                    <a href="#services" onclick = $("#menu-close").click(); >{{ labels.SERV_TITLE }}</a>
                </li>
                <li>
                    <a href="#portfolio" onclick = $("#menu-close").click(); >{{ labels.OUR_WORK }}</a>
                </li>
                <li>
                    <a href="#about" onclick = $("#menu-close").click(); >{{ labels.ABOUT }}</a>
                </li>
                <li>
                    <a href="#contact" onclick = $("#menu-close").click(); >{{ labels.CONTACT }}</a>
                </li>
            </ul>
        </nav>

        <!-- Header -->
        <header id="top" class="header content-section video-section" show-once-background-loaded="./img/raw1.png">
            <div class="pattern-overlay">
                <a id="bgndVideo" class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=18tyvtWA5G4',containment:'.video-section', quality:'large', autoPlay:true, mute:true, opacity:1}">bg</a>
                <div class="container">
                    <div class="row">
                        <div class="col-md-2 col-lg-2 col-sm-12 col-xs-12 langSelector">
                            <span><a lang="en" title="English" ng-href="{{ links.ENGLISH_VER }}" >EN</a> </span>
                            |
                            <span class="langActive">PL</span>
<!--                     |
                            <span><a lang="de" title="Deutch" href="#" ng-click="setLang('de-de');" ng-class="{'langActive': userConfig.lang == 'de-de'}">DE</a> </span> -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 col-md-offset-3 col-lg-offset-3 v100h">
                            <div class="main-text-vertical-center">
                                <img src="img/logo2Full.png" height="100px" />
                                <h4>{{ labels.JUST_HERE }}</h4>
                                <h3>{{ labels.JUST_NOW }}</h3>
                                <h2>{{ labels.JUST_BRILLIANT }}</h2>
                                <br>
                                <a href="#about" class="btn btn-dark btn-lg">{{ labels.FIND_OUT }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- sfdc -->
        <section id="sfdc" class="sfdc" >
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="text-center">{{ labels.WHAT_WE_DO }}</h2>
                        <hr class="small">

                                <div class="portfolio-item">
                                    <ul >
                                        <li class="visibleWhatWeDoItem" in-view="visibleWhatWeDoVisible()" ng-class="{'bounceIn1' : visibleWhatWeDo}">
                                            {{ labels.REQUIREMENTS }}
                                        </li>
                                        <li class="visibleWhatWeDoItem" in-view="visibleWhatWeDoVisible()" ng-class="{'bounceIn2' : visibleWhatWeDo}">
                                            {{ labels.APPROACH }}
                                        </li>
                                        <li class="visibleWhatWeDoItem" in-view="visibleWhatWeDoVisible()" ng-class="{'bounceIn3' : visibleWhatWeDo}">
                                            {{ labels.TRENING }}
                                        </li>
                                    </ul>
                                </div>
   
                    </div>
                </div>
            </div>
        </section>

        <!-- Services -->
        <section id="services" class="services bg-primary">
            <div class="container">
                <div class="row text-center">
                    <div class="col-lg-10 col-lg-offset-1">
                        <h2>{{ labels.SERV_TITLE }}</h2>
                        <hr class="small">
                        <div class="row" s>
                            <div class="col-md-3 col-sm-6 baboomHelper" in-view="servicesVisible()" ng-class="{'baboom' : visibleServices}">
                                <div class="service-item">
                                    <span class="fa-stack fa-4x">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-sitemap  fa-stack-1x text-primary"></i>
                                    </span>
                                    <h4>
                                        <strong>{{ labels.BUSIN_ANALYST }}</strong>
                                    </h4>
                                    <p>
                                        {{ labels.BUSIN_ANALYST_DESC }}
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 baboomHelper" in-view="servicesVisible()" ng-class="{'baboom' : visibleServices}">
                                <div class="service-item">
                                    <span class="fa-stack fa-4x">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-cogs fa-stack-1x text-primary"></i>
                                    </span>
                                    <h4>
                                        <strong>{{ labels.TECH_ARCH }}</strong>
                                    </h4>
                                    <p>
                                        {{ labels.TECH_ARCH_DESC }}
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 baboomHelper" in-view="servicesVisible()" ng-class="{'baboom' : visibleServices}">
                                <div class="service-item">
                                    <span class="fa-stack fa-4x">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-code fa-stack-1x text-primary"></i>
                                    </span>
                                    <h4>
                                        <strong>{{ labels.DEV }}</strong>
                                    </h4>
                                    <p>
                                        {{ labels.DEV_DESC }}
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 baboomHelper" in-view="servicesVisible()" ng-class="{'baboom' : visibleServices}">
                                <div class="service-item">
                                    <span class="fa-stack fa-4x">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-check-square-o fa-stack-1x text-primary"></i>
                                    </span>
                                    <h4>
                                        <strong>{{ labels.QA }}</strong>
                                    </h4>
                                    <p>
                                        {{ labels.QA_DESC }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- /.row (nested) -->
                    </div>
                    <!-- /.col-lg-10 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </section>

        <!-- Portfolio -->
        <section id="portfolio" class="portfolio">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2>{{ labels.OUR_WORK }}</h2>
                        <hr class="small">
                    </div>
                    <div class="col-md-12">
                        <img class="img-responsive prodLogos" src="img/einstein_salesforce.jpg">
                    </div>
                    <div class="col-md-6" >
                                <div class="portfolio-item">
                                    <ul >
                                        <li class="visibleWhatWeDoItem" in-view="productsVisible()" ng-class="{'bounceIn3' : visibleProducts}">
                                             <h4>
                                                <strong>{{ labels.SALES }}</strong>
                                            </h4>
                                            <p>
                                                {{ labels.SALES_DESC }}
                                            </p>
                                        </li>
                                        <li class="visibleWhatWeDoItem" in-view="productsVisible()" ng-class="{'bounceIn3' : visibleProducts}">
                                             <h4>
                                                <strong>{{ labels.SERVICE }}</strong>
                                            </h4>
                                            <p>
                                                {{ labels.SERVICE_DESC }}
                                            </p>
                                        </li>
                                        <li class="visibleWhatWeDoItem" in-view="productsVisible()" ng-class="{'bounceIn3' : visibleProducts}">
                                             <h4>
                                                <strong>{{ labels.MARKETING }}</strong>
                                            </h4>
                                            <p>
                                                {{ labels.MARKETING_DESC }}
                                            </p>
                                        </li>
                                        <li class="visibleWhatWeDoItem" in-view="productsVisible()" ng-class="{'bounceIn3' : visibleProducts}">
                                             <h4>
                                                <strong>{{ labels.COMMUNITY }}</strong>
                                            </h4>
                                            <p>
                                                {{ labels.COMMUNITY_DESC }}
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                    </div>
                    <div class="col-md-6" >
                                <div class="portfolio-item">
                                    <ul >
                                        <li class="visibleWhatWeDoItem" in-view="productsVisible()" ng-class="{'bounceIn1' : visibleProducts}">
                                             <h4>
                                                <strong>{{ labels.ANALITICS }}</strong>
                                            </h4>
                                            <p>
                                                {{ labels.ANALITICS_DESC }}
                                            </p>
                                        </li>
                                        <li class="visibleWhatWeDoItem" in-view="productsVisible()" ng-class="{'bounceIn1' : visibleProducts}">
                                             <h4>
                                                <strong>{{ labels.APPS }}</strong>
                                            </h4>
                                            <p>
                                                {{ labels.APPS_DESC }}
                                            </p>
                                        </li>
                                        <li class="visibleWhatWeDoItem" in-view="productsVisible()" ng-class="{'bounceIn1' : visibleProducts}">
                                             <h4>
                                                <strong>{{ labels.IOT }}</strong>
                                            </h4>
                                            <p>
                                                {{ labels.IOT_DESC }}
                                            </p>
                                        </li>
                                        <li class="visibleWhatWeDoItem" in-view="productsVisible()" ng-class="{'bounceIn1' : visibleProducts}">
                                             <h4>
                                                <strong>{{ labels.COMMERCE }}</strong>
                                            </h4>
                                            <p>
                                                {{ labels.COMMERCE_DESC }}
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- About -->
        <section id="about" class="about">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-lg-3">
                        <img class=" img-responsive" src="img/Stefan.jpg">
                    </div>
                    <div class="col-md-9 col-lg-9 text-center">
                        <div class="row" >
                            <div class="col-md-12 ">
                                <h2>
                                    {{ labels.OWN_NAME }}</br>
                                    {{ labels.OWN_ABOUT }}
                                </h2>
                                <p class="lead">
                                    {{ labels.OWN_DESC1 }} <br/>
                                    {{ labels.OWN_DESC2 }}
                                </p>
                            </div>
                        </div>
                        <div class="row" >
                            <div class="col-md-2 achivements">
                                <a href="res/Salesforce_Certified_Force.com_Developer.pdf" target="_blank">
                                    <img class="img-responsive" src="img/cert_dev_rgb.png">
                                </a>
                            </div>
                            <div class="col-md-2 achivements">
                                <a href="res/Salesforce_Certified_Advanced_Developer.pdf" target="_blank">
                                    <img class="img-responsive" src="img/cert_dev_adv_rgb.png">
                                </a>
                            </div>
                            <div class="col-md-2 achivements">
                                <a href="res/Salesforce_Certified_Platform_Developer_I_II.pdf" target="_blank">
                                    <img class="img-responsive" src="img/SalesforceCertifiedPlatformDeveloperI_RGB.png">
                                </a>
                            </div>
                            <div class="col-md-2 achivements">
                                <a href="res/Salesforce_Certified_Platform_Developer_I_II.pdf" target="_blank">
                                    <img class="img-responsive" src="img/SalesforceCertifiedPlatformDeveloperII_RGB.png">
                                </a>
                            </div>
                            <div class="col-md-2 achivements">
                                <a href="res/Salesforce_Certified_Administrator.pdf" target="_blank">
                                    <img class="img-responsive" src="img/cert_admin_rgb.png">
                                </a>
                            </div>
                            <div class="col-md-2 achivements">
                                <a href="https://developer.salesforce.com/forums/ForumsTrailheadProfile?userId=005F0000006vuRRIAY" target="_blank">
                                    <img class="img-responsive" src="img/trailhead-flogo.png">
                                </a>
                            </div>
                            <!--
                            <div class="col-md-2 achivements">
                                <a href="res/OCP.pdf" target="_blank">
                                    <img class="img-responsive"  src="img/ocp.jpg">
                                </a>
                            </div>
                            -->
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12 achivements">


                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </section>

        <section id="contact" class="contact">
            <div class="container">
                <div >
                    <div class="t text-center">
                        <h2>{{ labels.CONTACT }}</h2>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-5 col-sm-12 col-xs-12 col-md-5 companyAddress">
                        <h4><strong>{{ labels.FULL_NAME }}</strong>
                        </h4>
                        <p>{{ labels.ADDR1 }}<br>{{ labels.ADDR2 }}</p>
                        <ul class="list-unstyled">
                            <li>
                                <i class="fa fa-envelope-o fa-fw"></i><a class="mail" target="_blank" ng-href="mailto:{{ links.EMAIL }}">{{ links.EMAIL }}</a>
                            </li>
                        </ul>
                        <br>
                        <ul class="social-network social-circle ">
                            <li><a ng-href="{{ links.FB_LINK }}" target="_blank" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a ng-href="{{ links.SKYPE_LINK }}" target="_blank" class="icoSkype" title="Twitter"><i class="fa fa-skype"></i></a></li>
                            <li><a ng-href="{{ links.GPLUS_LINK }}" target="_blank" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                            <li><a ng-href="{{ links.LINKED_LINK }}" target="_blank" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin-square"></i></a></li>
                        </ul>
                    </div>


                    <div class="col-lg-7 col-sm-12 col-xs-12 col-md-7">

                        <!--  ----------------------------------------------------------------------  -->
                        <!--  NOTE: Please add the following <META> element to your page <HEAD>.      -->
                        <!--  If necessary, please modify the charset parameter to specify the        -->
                        <!--  character set of your HTML page.                                        -->
                        <!--  ----------------------------------------------------------------------  -->

                        <META HTTP-EQUIV="Content-type" CONTENT="text/html; charset=UTF-8">

                        <!--  ----------------------------------------------------------------------  -->
                        <!--  NOTE: Please add the following <FORM> element to your page.             -->
                        <!--  ----------------------------------------------------------------------  -->

                        <form action="https://www.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST">

                            <input type=hidden name="oid" value="{{settings.ORG_ID}}">
                            <input type=hidden name="retURL" value="{{ settings.RET_URL }}">

                            <!--  ----------------------------------------------------------------------  -->
                            <!--  NOTE: These fields are optional debugging elements. Please uncomment    -->
                            <!--  these lines if you wish to test in debug mode.                          -->
                            <!--  <input type="hidden" name="debug" value=1>                              -->
                            <!--  <input type="hidden" name="debugEmail"                                  -->
                            <!--  value="sempre.esperto.it+sfdc@gmail.com">                               -->
                            <!--  ----------------------------------------------------------------------  -->

                            <div class="form-group">
                                <label for="first_name">{{ labels.FIRST_NAME }}</label>
                                <input class="form-control" id="first_name" maxlength="40" name="first_name" size="20" type="text" />
                            </div>

                            <div class="form-group">
                                <label for="last_name">{{ labels.LAST_NAME }}</label>
                                <input class="form-control" id="last_name" maxlength="80" name="last_name" size="20" type="text" />
                            </div>

                            <div class="form-group">
                                <label for="email">{{ labels.EMAIL }}</label>
                                <input class="form-control" id="email" maxlength="80" name="email" size="20" type="text" />
                            </div>

                            <div class="form-group">
                                <label for="company">{{ labels.COMPANY }}</label>
                                <input class="form-control" id="company" maxlength="40" name="company" size="20" type="text" />
                            </div>

                            <div class="form-group">
                                <label for="city">{{ labels.CITY }}</label>
                                <input class="form-control" id="city" maxlength="40" name="city" size="20" type="text" />
                            </div>

                            <div class="form-group">
                                <label for="phone">{{ labels.PHONE }}</label>
                                <input class="form-control" id="phone" maxlength="40" name="phone" size="20" type="text" />
                            </div>

                            <div class="form-group">
                                <label for="description">{{ labels.DESCRIPTION }}</label>
                                <textarea class="form-control" id="description" ></textarea>
                            </div>


                            <input type="submit" name="submit" class="btn btn-primary">

                        </form>
                    </div>
                </div>
            </div>
        </section>

        <!-- Footer -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1 text-center ">
                        <p class="text-muted">{{ labels.COPYRIGHT }}</p>
                        <p class="text-muted">{{ version }}</p>
                    </div>
                </div>
            </div>
        </footer>

    </div>


    <div class="cc_banner-wrapper" ng-if="!cookieConsent">
        <div class="cc_banner cc_container cc_container--open" ng-class="{'fadeIn': !cookieConsConfirmed, 'fadeOut': cookieConsConfirmed}">
            <a ng-click="confirmCookie();" class="cc_btn cc_btn_accept_all">{{ labels.CONFIRM }}</a>

            <p class="cc_message" >{{ labels.COOKIE_CONSENT }}</p>
            <a  href="http://www.google.com/intl/pl/policies/privacy/partners/" target="_blank">{{ labels.SEE_MORE }}</a>

        </div>
    </div>
</body>


    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

        <!-- angular JavaScript -->
    <script src="js/angular.min.js"></script>
    <script src="js/angular-cookies.min.js"></script>
    <script src="js/angular-animate.min.js"></script>
    <script src="js/angular-parallax.js"></script>
    <script src="js/angular-inview.js"></script>

    <script src="js/gOOgle.js"></script>

    <script src="js/sidebar.js"></script>

    <script src="js/jquery_mb_YTPlayer.js"></script>
    <script src="js/video.js"></script>

    <script src="js/main.js"></script>

    <script src="js/pl.js"></script>

</html>